@import '../../GlobalStyles/vars-mixins';

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 20px 30px;
  background-color: $fifthColor;
  .containerGeral {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include tablet {
      flex-wrap: nowrap;
    }
    .name {
      display: flex;
      align-items: center;
      @include tablet {
        margin-bottom: 0;
        width: 100%;
      }
      h1 {
        font-size: 1.25rem;
      }
      img {
        max-width: 40px;
        margin-right: 15px;
      }
    }
    .search {
      width: 100%;
      display: flex;
      justify-content: center;
      order: 2;
      margin-top: 25px;
      @include tablet {
        order: 1;
        margin-top: 0;
        width: auto;
      }
    }
    .cart {
      order: 1;
      @include tablet {
        order: 2;
      }
    }
  }
}
